<section id="tabs" class="project-tab">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active " id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Products</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Orders</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Categories</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active active2" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <table class="table" cellspacing="0">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Discount price</th>
                  <th>Size</th>
                  <th>Description</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% @products.each do |product| %>
                  <% if product.image.present? %>
                  <td><%= image_tag product.image_url, height: "100", width: "100"%></td>
                  <% else %>
                  <td></td>
                  <% end %>
                  <td><%= product.title %></td>
                  <td><%= product.price %></td>
                  <td><%= product.discount_price%></td>
                  <td><%= product.size %></td>
                  <td><%= product.description %></td>
                  <td><%= link_to 'Show', polymorphic_path([:admin,  product]), :class=>"btn btn-success", style: "color:white;" %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <%#= line_chart User.group_by_day(:created_at).count %>
          <div class="tab-pane fade active2" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <%= area_chart @orders.group_by_day() { |order| order.created_at }.map { |date, orders| [date, orders.size] } %>
            <div class="row" style="float: right; margin-bottom: 10px;">
              <%= form_tag admin_display_report_path(@orders), method: :get do %>
              <%= text_field_tag 'start_date', params[:start_date], placeholder: "Enter Start Date", class: "datepicker", id: "txtStartDate" %>
              <%= text_field_tag 'end_date', params[:end_date], placeholder: "Enter End Date", class: "datepicker", id: "txtEndDate" %>
              <%= submit_tag 'Search',class:"btn btn-success", style: "color:white;" %>
              <% end %>
            </div>
            <br>
            <table class="table" cellspacing="0">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Size</th>
                  <th>Full Address</th>
                  <th>User Name</th>
                  <th>Order Date</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @orders.each do |order| %>
                <% order.cart.cart_items.each do |item| %>
                <% product = Product.unscoped.find(item.product_id)%>
                <tr>
                  <% if product.image.present? %>
                  <td><%= image_tag product.image_url, height: "100", width: "100"%></td>
                  <% else %>
                  <td></td>
                  <% end %>
                  <td><%= product.title %></td>
                  <td><%= item.unit_price %></td>
                  <td><%= product.size %></td>
                  <td><%= order.full_address %></td>
                  <td><%= order.user.try(:first_name) %></td>
                  <td><%= order.created_at %></td>
                </tr>
                <% end %>
                <tr>
                  <% if order.cart.cart_items.any? %>
                  <th></th>
                  <th><b>Total Quantity <%= order.cart.quantity%></b></th>
                  <th><b>Total Price <%= order.cart.sub_total%><b></th>
                  <% else %>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade active2" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <%#= area_chart @categories.group_by_day() { |category| category.created_at }.map { |date, categories| [date, categories.size] } %>
            <table class="table" cellspacing="0">
              <thead>
                <tr>
                  <th>image</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Category Date</th>
                </tr>
              </thead>
              <tbody>
                <% @categories.each do |category| %>
                <tr>
                  <% if category.image.present? %>
                  <td><%= image_tag category.image_url, height: "100", width: "100"%></td>
                  <% else %>
                  <td></td>
                  <% end %>
                  <td><%= category.title %></td>
                  <td><%= category.description %></td>
                   <td><%= category.created_at %></td>
                   <td></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function(){
    $(".datepicker").datepicker({ 
        format: 'd-mm-yyyy',
        autoclose: true 
    })
    .on("changeDate", function (e) {
      var start_date = $("#txtStartDate").val();
      var end_date = $("#txtEndDate").val();
      if (start_date != "" && end_date != ""){ 
        // start_date = new Date(start_date);
        // end_date = new Date(end_date); 
        if (end_date < start_date){ 
          alert("End date should be greater or equal to start Date"); 
          $(this).val(""); 
        } 
      } 
    });
  }); 
  $(document).ready(function(){
    $("input").prop('required', true);
    $("text").prop('required', false);
  });
</script> 
<style type="text/css">
  .active2 {
  background: white !important; }
  .nav-tabs .nav-link.active{
  background-color: #007bff !important; }
</style>