

<div class="container">
  <!-- <h3 class="h3">shopping Demo-1 </h3> -->
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3 col-sm-6" style="margin-bottom: 25px;">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
            <%= link_to product_details_path(product) do %>
              <% if product.image.present? %>
                <%= image_tag product.image_url, class: "pic-1", style: "height:324px;width:253px"%>
              <% else %>
                <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-7.jpg">
              <% end %>
            <% end %>
            <ul class="social">
              <!-- <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
              <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
              <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li> -->
            </ul>
            <span class="product-new-label">Sale</span>
            <span class="product-discount-label"><%= product.price.to_i > 0 ? product.discount_percentage : 0 %></span>
          </div>
          <!-- <ul class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star disable"></li>
          </ul> -->
          <div class="product-content">
            <h3 class="title"><a href="#"><%= product.title %></a></h3>
            <div class="price">$<%= product.try(:discount_price).to_f %>
              <span>$<%= product.try(:price).to_f %></span>
            </div>
            <a class="add-to-cart" href="JavaScript:void(0);">+ Add To Cart</a>
          </div>
        </div>
      </div>
      <br>
      <br>
    <% end %>
  </div>
  <br>
  <div class="pagination">
    <%= will_paginate @products %>
  </div>
</div>

