<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="large-5 column">
            <div class="xzoom-container">
              <a href="http://bestjquery.com/tutorial/product-grid/demo9/images/img-7.jpg"><img  class="xzoom" id="xzoom-default" src="<%= @product.image%>" xoriginal="<%= @product.image%>" ></a>
              <!--  <div class="xzoom-thumbs">
                <img class="xzoom-gallery" width="80" src="<%= @product.image%>"  xpreview="<%= @product.image%>" /> -->
              <!--    
                <a href="http://www.jqueryscript.net/demo/Feature-rich-Product-Gallery-With-Image-Zoom-xZoom/images/gallery/original/02_o_car.jpg"><img class="xzoom-gallery" width="80" src="http://www.jqueryscript.net/demo/Feature-rich-Product-Gallery-With-Image-Zoom-xZoom/images/gallery/preview/02_o_car.jpg" title="The description goes here"></a>
                  
                <a href="http://www.jqueryscript.net/demo/Feature-rich-Product-Gallery-With-Image-Zoom-xZoom/images/gallery/original/03_r_car.jpg"><img class="xzoom-gallery" width="80" src="http://www.jqueryscript.net/demo/Feature-rich-Product-Gallery-With-Image-Zoom-xZoom/images/gallery/preview/03_r_car.jpg" title="The description goes here"></a>
                  
                <a href="http://www.jqueryscript.net/demo/Feature-rich-Product-Gallery-With-Image-Zoom-xZoom/images/gallery/original/04_g_car.jpg"><img class="xzoom-gallery" width="80" src="http://www.jqueryscript.net/demo/Feature-rich-Product-Gallery-With-Image-Zoom-xZoom/images/gallery/preview/04_g_car.jpg" title="The description goes here"></a> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
        <div class="large-7 column"></div>
        <script src='https://code.jquery.com/jquery-2.1.1.js'></script>
        <script src='https://unpkg.com/xzoom/dist/xzoom.min.js'></script>
        <script src='https://hammerjs.github.io/dist/hammer.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js'></script>
        <div class="details col-md-6">
          <h3 class="product-title"><%= @product.title %></h3>
          <br>
          <div class="rating">
            <div class='star-rating' data-score="<%= @avg_rating %>"></div>
            <span class="review-no"><%= "(#{@product.reviews.count }Reviews)" %></span><br>
          </div>
          <p class="product-description"></p>
          <h4 class="price">current price: <span>$<%= @product.price.present? ? @product.try(:discount_price).to_f : '0.0'%></span></h4>
          <br>
          <p class="vote"><strong></strong></p>
          <h5 class="sizes">size:<%= @product.size %>
          </h5>
          <br>
          <div class="action">
            <!-- <button  class="add-to-cart btn btn-default" type="button">add to cart</button> -->
            <% if user_signed_in? %>
            <% if current_cart.cart_items.where(product_id: @product.id).first.present? %>
            <%= link_to "Go to Cart", carts_path, class: 'add-to-cart btn btn-default' %>
            <% else %>
            <%= link_to 'add to cart', product_add_cart_path(@product.id), class: "add-to-cart btn btn-default" %>
            <% end %>
            <% else %>
            <%= link_to 'add to cart', product_add_cart_path(@product.id), class: "add-to-cart btn btn-default" %>
            <%#= link_to "Proceed to checkout", new_cart_order_path(@product.carts.first.id, product_id: @product.carts.first.product), class: 'add-to-cart btn btn-default' %>
            <% end %>
            <%#= link_to "Proceed to checkout", new_order_path, class: 'add-to-cart btn btn-default' %>
            <%= link_to product_add_wishlist_path(@product.id), {:class => 'like btn btn-default','data-tip'=> 'Add to Wishlist', title: 'Add to Wishlist'} do %>
            <span class="fa fa-heart"></span>
            <% end %>
            <%= link_to product_add_favorite_path(@product.id), {:class => 'like btn btn-default','data-tip'=> 'Add to favorite', title: 'Add to favorite'} do %>
            <span class="fa fa-star"></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
<style type="text/css">
  img {
  max-width: 100%; }
  .preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 996px) {
  .preview {
  margin-bottom: 20px; } }
  .preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 1px; }
  .preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%; }
  .preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; }
  .preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; }
  .preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0; }
  .tab-content {
  overflow: hidden; }
  .tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s; }
  .card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }
  @media screen and (min-width: 997px) {
  .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; } }
  .details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }
  .checked, .price span {
  color: #ff9f1a; }
  .product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 1px; }
  .product-title {
  margin-top: 15; }
  .size {
  margin-right: 10px; }
  .size:first-of-type {
  margin-left: 40px; }
  .color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
  margin-left: 20px; }
  .add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
  transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
  background: #b36800;
  color: #fff; }
  .not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff; }
  .orange {
  background: #ff9f1a; }
  .green {
  background: #85ad00; }
  .blue {
  background: #0076ad; }
  .tooltip-inner {
  padding: 1.3em; }
  @-webkit-keyframes opacity {
  0% {
  opacity: 0;
  -webkit-transform: scale(3);
  transform: scale(3); }
  100% {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); } }
  @keyframes opacity {
  0% {
  opacity: 0;
  -webkit-transform: scale(3);
  transform: scale(3); }
  100% {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); } }
</style>
<style type="text/css">
  /* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
  .xzoom-source img, .xzoom-preview img, .xzoom-lens img {
  display: block;
  max-width: none;
  max-height: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  }
  /* --------------- */
  /* xZoom Styles below */
  .xzoom-container { 
  display: inline-block;
  }
  .xzoom-thumbs {
  text-align: center;
  margin-bottom: 10px;
  }
  .xzoom { 
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);  
  }
  .xzoom2, .xzoom3, .xzoom4, .xzoom5 {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  }
  /* Thumbs */
  .xzoom-gallery, .xzoom-gallery2, .xzoom-gallery3, .xzoom-gallery4, .xzoom-gallery5 {
  border: 1px solid #cecece;
  margin-left: 5px;
  margin-bottom: 10px;
  }
  .xzoom-source, .xzoom-hidden {
  display: block;
  position: static;
  float: none;
  clear: both;
  }
  /* Everything out of border is hidden */
  .xzoom-hidden {
  overflow: hidden;
  }
  /* Preview */
  .xzoom-preview {
  border: 1px solid #888;
  background: #2f4f4f;
  box-shadow: -0px -0px 10px rgba(0,0,0,0.50);
  }
  /* Lens */
  .xzoom-lens {
  border: 1px solid #555;
  box-shadow: -0px -0px 10px rgba(0,0,0,0.50);
  cursor: crosshair;
  }
  /* Loading */
  .xzoom-loading {
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: .7;
  background: url(../images/xloading.gif);
  width: 48px;
  height: 48px;
  }
  /* Additional class that applied to thumb when it is active */
  .xactive {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(74,169,210,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(74,169,210,1);
  box-shadow: 0px 0px 3px 0px rgba(74,169,210,1); 
  border: 1px solid #4aaad2;
  }
  /* Caption */
  .xzoom-caption {
  position: absolute;
  bottom: -43px;
  left: 0;
  background: #000;
  width: 100%;
  text-align: left;
  }
  .xzoom-caption span {
  color: #fff;
  font-family: Arial, sans-serif;
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  padding: 10px;
  }
</style>
<script type="text/javascript">
  (function ($) {
    $(document).ready(function() {
        $('.xzoom, .xzoom-gallery').xzoom({zoomWidth: 400, title: true, tint: '#333', Xoffset: 15});
        $('.xzoom2, .xzoom-gallery2').xzoom({position: '#xzoom2-id', tint: '#ffa200'});
        $('.xzoom3, .xzoom-gallery3').xzoom({position: 'lens', lensShape: 'circle', sourceClass: 'xzoom-hidden'});
        $('.xzoom4, .xzoom-gallery4').xzoom({tint: '#006699', Xoffset: 15});
        $('.xzoom5, .xzoom-gallery5').xzoom({tint: '#006699', Xoffset: 15});
  
        //Integration with hammer.js
        var isTouchSupported = 'ontouchstart' in window;
  
        if (isTouchSupported) {
            //If touch device
            $('.xzoom, .xzoom2, .xzoom3, .xzoom4, .xzoom5').each(function(){
                var xzoom = $(this).data('xzoom');
                xzoom.eventunbind();
            });
            
            $('.xzoom, .xzoom2, .xzoom3').each(function() {
                var xzoom = $(this).data('xzoom');
                $(this).hammer().on("tap", function(event) {
                    event.pageX = event.gesture.center.pageX;
                    event.pageY = event.gesture.center.pageY;
                    var s = 1, ls;
    
                    xzoom.eventmove = function(element) {
                        element.hammer().on('drag', function(event) {
                            event.pageX = event.gesture.center.pageX;
                            event.pageY = event.gesture.center.pageY;
                            xzoom.movezoom(event);
                            event.gesture.preventDefault();
                        });
                    }
    
                    xzoom.eventleave = function(element) {
                        element.hammer().on('tap', function(event) {
                            xzoom.closezoom();
                        });
                    }
                    xzoom.openzoom(event);
                });
            });
  
        $('.xzoom4').each(function() {
            var xzoom = $(this).data('xzoom');
            $(this).hammer().on("tap", function(event) {
                event.pageX = event.gesture.center.pageX;
                event.pageY = event.gesture.center.pageY;
                var s = 1, ls;
  
                xzoom.eventmove = function(element) {
                    element.hammer().on('drag', function(event) {
                        event.pageX = event.gesture.center.pageX;
                        event.pageY = event.gesture.center.pageY;
                        xzoom.movezoom(event);
                        event.gesture.preventDefault();
                    });
                }
  
                var counter = 0;
                xzoom.eventclick = function(element) {
                    element.hammer().on('tap', function() {
                        counter++;
                        if (counter == 1) setTimeout(openfancy,100);
                        event.gesture.preventDefault();
                    });
                }
  
                function openfancy() {
                    if (counter == 2) {
                        xzoom.closezoom();
                        $.fancybox.open(xzoom.gallery().cgallery);
                    } else {
                        xzoom.closezoom();
                    }
                    counter = 0;
                }
            xzoom.openzoom(event);
            });
        });
        
        $('.xzoom5').each(function() {
            var xzoom = $(this).data('xzoom');
            $(this).hammer().on("tap", function(event) {
                event.pageX = event.gesture.center.pageX;
                event.pageY = event.gesture.center.pageY;
                var s = 1, ls;
  
                xzoom.eventmove = function(element) {
                    element.hammer().on('drag', function(event) {
                        event.pageX = event.gesture.center.pageX;
                        event.pageY = event.gesture.center.pageY;
                        xzoom.movezoom(event);
                        event.gesture.preventDefault();
                    });
                }
  
                var counter = 0;
                xzoom.eventclick = function(element) {
                    element.hammer().on('tap', function() {
                        counter++;
                        if (counter == 1) setTimeout(openmagnific,100);
                        event.gesture.preventDefault();
                    });
                }
  
                function openmagnific() {
                    if (counter == 2) {
                        xzoom.closezoom();
                        var gallery = xzoom.gallery().cgallery;
                        var i, images = new Array();
                        for (i in gallery) {
                            images[i] = {src: gallery[i]};
                        }
                        $.magnificPopup.open({items: images, type:'image', gallery: {enabled: true}});
                    } else {
                        xzoom.closezoom();
                    }
                    counter = 0;
                }
                xzoom.openzoom(event);
            });
        });
  
        } else {
            //If not touch device
  
            //Integration with fancybox plugin
            $('#xzoom-fancy').bind('click', function(event) {
                var xzoom = $(this).data('xzoom');
                xzoom.closezoom();
                $.fancybox.open(xzoom.gallery().cgallery, {padding: 0, helpers: {overlay: {locked: false}}});
                event.preventDefault();
            });
           
            //Integration with magnific popup plugin
            $('#xzoom-magnific').bind('click', function(event) {
                var xzoom = $(this).data('xzoom');
                xzoom.closezoom();
                var gallery = xzoom.gallery().cgallery;
                var i, images = new Array();
                for (i in gallery) {
                    images[i] = {src: gallery[i]};
                }
                $.magnificPopup.open({items: images, type:'image', gallery: {enabled: true}});
                event.preventDefault();
            });
        }
    });
  })(jQuery);
</script>