<div class ="container">
    <%= form_with(model: order, local: true) do |form| %>
      <% if order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
          <% order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= form.hidden_field :cart_id, :value => @cart.id %>
      <%= form.hidden_field :user_id, :value => current_user.id %>
      <%= form.hidden_field :product_id, :value => @product.id %>
      <%= form.hidden_field :price, :value => @product.discount_price %>


      <div class="field">
         <label for="first_name">first_name</label>
        <%= form.text_field :first_name, class: "form-control" %>
      </div>

      <div class="field">
        <label for="last_name">last_name</label>
        <%= form.text_field :last_name, class: "form-control" %>
      </div>

      <div class="field">
        <label for="email">email</label>
        <%= form.text_field :email, class: "form-control" %>
      </div>

      <div class="field">
         <label for="phone">phone</label>
        <%= form.text_field :phone, class: "form-control" %>
      </div>

      <div class="field">
        <strong for="choose_address">Choose Address</strong>
        <% current_user.addresses.each do |ad|%>
          <p><input type="radio" name="order[address_id]" value="<%= ad.id %>"> <%= ad.full_address %></p>
        <% end %>
      </div>  
        <article>
          <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
          <% end %>
          <label class="amount">
          <span>Amount: $<%= @product.discount_price %></span>
          </label>
        </article>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @product.discount_price.to_i %>"
          data-locale="auto"></script>
      <!-- <div class="actions">
        <%= form.submit  %>
      </div> -->
    <% end %>
  </div>

