<table class="table">
  <thead>
    <tr>
      
      <th>Product</th>
      <th>Price</th>
      <th>Status</th>
      <th>Quantity</th>
      
      <th>Address</th>
      <th>Town</th>
      <th>Postal code</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        
        <td><%= image_tag order.product.image_url, height: "100", width: "100"%></td>
        <td><%= order.price %></td>
        <td><%= order.status %></td>
        <td><%= order.quantity %></td>
        
        <td><%= order.address %></td>
        <td><%= order.town %></td>
        <td><%= order.postal_code %></td>
        <td><%= link_to 'Rate & Review Product', order, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

