
<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Price</th>
      <th>Size</th>
      <th>Status</th>
      <th>Full Address</th>
      <th>User Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <% order.cart.cart_items.each do |item| %> 
        <tr>
          <td><%= item.product.title %></td>
          <% if item.product.image.present? %>
          <td><%= image_tag item.product.image_url, height: "100", width: "100"%></td>
          <% else %>
          <td></td>
          <% end %>
          <td><%= item.unit_price %></td>
          <td><%= item.product.size %></td>
          <td><%= item.product.status %></td>
          <td><%= order.full_address %></td>
          <td><%= order.user.try(:first_name) %></td>
          <td><%= link_to 'Rate & Review Product', order_path(order.id,cart_item: item.id), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
