<table class=" myTable table table-hover" id="cartpdf">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Unit_Price</th>
      <th>Price</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% if current_cart.cart_items.any? %>
      <% current_cart.cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.product.title %></td>
          <td><%= cart_item.product.description %></td>
          <td><a href="/product_details/<%= cart_item.product.id%>"><%= image_tag cart_item.product.image_url, style: "height:100px;width:100px" %></a></td>
          <td><%= cart_item.product.category.title %></td>
          <td>
            <div class="row">
              <% unless cart_item.quantity.to_i == 1 %>
                <div class="text-center">
                  <%= link_to "-", update_cart_item_quantity_path(type: "decrease", cart_item_id: cart_item.id), class: "btn btn-success", remote: true %>
                </div>
              <% end %>
              <div class="text-center">
                <%= text_field_tag :quantity, cart_item.quantity, style: " height:38px;", class: "text-center form-control", min: 1 %>
              </div>
              <div class="text-center">
                <%= link_to "+", update_cart_item_quantity_path(type: "increase", cart_item_id: cart_item.id), class: "btn btn-success", remote: true %>
              </div>
            </div>
          </td>
          <td><%= cart_item.unit_price %></td>
          <td><%= cart_item.price %></td>
          <td><%= link_to "Remove",  product_remove_cart_path(cart_item.product.id)  %></td> 
        </div>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table><br>

<div class="float-right p-2 mb-2 bg-success text-white " style="margin-right: 3%" >
  Total Price: <%= current_cart.sub_total %>
</div>
<div class="float-right p-2 mb-2 bg-success text-white " style="margin-right: 5%" >
  Total Quantity: <%= current_cart.quantity %>&nbsp;&nbsp;
</div>
<br><br>

<div class="text-center ">
  <div class="btn-group">
    <%#= button_to 'Place Order', order_path(count: @products.count, product_id: @products.ids), :class => "btn btn-info" %>&nbsp;&nbsp;
    <% if current_cart.cart_items.present? %>
      <%= link_to 'Checkout',  new_order_path, :class => "btn btn-success" %>
    <% else %>
      <a href="/" class="btn btn-success">Go to Shoping</a>
    <% end %>
  </div>
</div>
