  <div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Image</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <td><%= @category.title %></td>
      <td><%= @category.description %></td>
      <td><%= image_tag @category.image_url, height: "100", width: "100"%></td>
      <td><%= @category.created_at %></td>
      <td><%= link_to 'Edit', edit_admin_user_path(@category), :class=>"btn btn-info" %></td>
      <td><%= link_to 'Back', admin_categories_path, :class=>"btn btn-warning" %>
      <td>
      </tr>
    </tbody>
  </table>
</div>