
<div class="container">
  <%#= line_chart User.group_by_day(:created_at).count %>
<%= link_to 'Create PDF', report_pdf_product_path(@product,format: :pdf),class:"btn btn-primary", style: "color:white;" %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Size</th>
        <th>Description</th>
        <th>Total order</th>
      </tr>
    </thead>
    <tbody>
      <td><%= @product.title %></td>
      <td><%= image_tag @product.image_url, height: "100", width: "100"%></td>
      <td><%= @product.discount_price %></td>
      <td><%= @product.size %></td>
      <td><%= @product.description %></td>
      <td><%= @orders.count %></td>
      </tr>
    </tbody>
  </table>
  <!-- <p>
    <strong>Users Name</strong>
    <% @orders.each_with_index do |order, index |%>
    <%= order.user.first_name %><% unless index+1 == @orders.count %>,<% end %>
    <% end %>
  </p> -->
</div>
<div class="container">
  <%= line_chart @orders.group_by_day() { |order| order.created_at }.map { |date, orders| [date, orders.size] } %>
  <div class="row" style="float: right; margin-bottom: 10px;">
    <%= form_tag admin_product_path(@product), method: :get do %>
      <%= text_field_tag 'start_date', params[:start_date], placeholder: "Enter Start Date", class: "datepicker", id: "txtStartDate" %>
      <%= text_field_tag 'end_date', params[:end_date], placeholder: "Enter End Date", class: "datepicker", id: "txtEndDate" %>
      <%= submit_tag 'Search',class:"btn btn-primary", style: "color:white;" %>
    <% end %>
  </div>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Email</th>
        <th>Order Date</th>
        <th>Address</th>
        <th>Total Quantity</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
     <% @orders.each do |order| %>
     <tr>
      <td><%= order.user.try(:first_name) %></td>
      <td><%= order.user.try(:email) %></td>
      <td><%= order.created_at %></td>
      <td><%= order.address %></td>
      <td><%= order.cart.quantity %></td>
      <td><%= order.cart.sub_total %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(".datepicker").datepicker({ 
        format: 'd-mm-yyyy',
        autoclose: true 
    })
    .on("changeDate", function (e) {
      var start_date = $("#txtStartDate").val();
      var end_date = $("#txtEndDate").val();
      if (start_date != "" && end_date != ""){ 
        // start_date = new Date(start_date);
        // end_date = new Date(end_date); 
        if (end_date < start_date){ 
          alert("End date should be greater or equal to start Date"); 
          $(this).val(""); 
        } 
      } 
    });
  }); 
  $(document).ready(function(){
    $("input").prop('required', true);
    $("text").prop('required', false);
  });
</script> 